*{
    padding: 0;
    margin: 0 auto;
}

body a{
    text-decoration: none;
    color: inherit;
}

body ul{
    padding-left: 0;
}

body li{
    list-style: none;
}

header{
    z-index: 1;
    width: 100%;
    height: 80px;
    border-bottom: #555 1px solid;
    color: #000;
    margin-bottom: 100px;
    /* background-color: antiquewhite; */
}

.headarea{
    width: 1080px;
    max-width: 1080px;
    height: 100%;
}

.logo{
    width: 15%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 80px;
    font-size: 36px;
    font-weight: 900;
}

.none{
    width: 25%;
    height: 100%;
    /* background-color: black; */
    float: left;
}

nav{
    width: 60%;
    height: 100%;
    float: left;
    display: flex;
}

nav div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    transition: all 0.5s;
    cursor: pointer;
}

nav div:hover{
    border-bottom: 4px solid black;
}

.marketing{
    width: 1080px;
    height: 700px;
    margin-bottom: 100px;
}

.marketing img{
    width: 100%;
    height: 100%;
}

.box{
    width: 1080px;
    height: 500px;
}

.box img{
    width: 100%;
    height: 100%;
}


/* ν‘Έν„° */
footer{
    margin-top: 100px;
    width: 100%;
    height: 150px;
    background-color: #222;
    color: aliceblue;
    text-align: center;
    line-height: 50px;
}

.foot1{
    width: 1080px;
    height: 50px;
}

.foot2{
    width: 1080px;
    height: 50px;
}

.foot3{
    width: 1080px;
    height: 50px;
}

.copy{
    float: left;
}

.sns{
    float: right;
}

.sns img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}